[Desktop Entry]
Version=1.0

Name=ubuntu-debullshit
Name[ar]=ubuntu-debullshit
Name[ast]=ubuntu-debullshit
Name[bn]=ubuntu-debullshit
Name[ca]=ubuntu-debullshit
Name[cs]=ubuntu-debullshit
Name[da]=ubuntu-debullshit
Name[el]=ubuntu-debullshit
Name[es]=ubuntu-debullshit
Name[et]=ubuntu-debullshit
Name[fa]=ubuntu-debullshit
Name[fi]=ubuntu-debullshit
Name[fr]=ubuntu-debullshit
Name[gl]=ubuntu-debullshit
Name[he]=ubuntu-debullshit
Name[hr]=ubuntu-debullshit
Name[hu]=ubuntu-debullshit
Name[it]=ubuntu-debullshit
Name[ja]=ubuntu-debullshit
Name[ko]=ubuntu-debullshit
Name[ku]=ubuntu-debullshit
Name[lt]=ubuntu-debullshit
Name[nb]=ubuntu-debullshit
Name[nl]=ubuntu-debullshit
Name[nn]=ubuntu-debullshit
Name[no]=ubuntu-debullshit
Name[pl]=ubuntu-debullshit
Name[pt]=ubuntu-debullshit
Name[pt_BR]=ubuntu-debullshit
Name[ro]=ubuntu-debullshit
Name[ru]=ubuntu-debullshit
Name[sk]=ubuntu-debullshit
Name[sl]=ubuntu-debullshit
Name[sv]=ubuntu-debullshit
Name[tr]=ubuntu-debullshit
Name[ug]=ubuntu-debullshit
Name[uk]=ubuntu-debullshit
Name[vi]=ubuntu-debullshit
Name[zh_CN]=ubuntu-debullshit
Name[zh_TW]=ubuntu-debullshit

Comment=An automated script to set-up Ubuntu as it should be.
Comment[ar]=
Comment[ast]=
Comment[bn]=
Comment[ca]=
Comment[cs]=
Comment[da]=
Comment[de]=
Comment[el]=
Comment[es]=Un script automatizado para configurar Ubuntu como debería ser.
Comment[et]=
Comment[fa]=
Comment[fi]=Automaattinen komentosarja Ubuntun määrittämiseksi sellaisena kuin sen pitäisi olla.
Comment[fr]=Un script automatisé pour configurer Ubuntu comme il se doit.
Comment[gl]=
Comment[he]=
Comment[hr]=
Comment[hu]=Automatizált szkript az Ubuntu beállításához, ahogy kell.
Comment[it]=Uno script automatico per configurare Ubuntu come dovrebbe essere.
Comment[ja]=Ubuntu を適切にセットアップするための自動スクリプト
Comment[ko]=
Comment[ku]=
Comment[lt]=
Comment[nb]=
Comment[nl]=
Comment[nn]=
Comment[no]=
Comment[pl]=Zautomatyzowany skrypt służący do konfiguracji Ubuntu tak, jak trzeba.
Comment[pt]=Um script automatizado para configurar o Ubuntu como deve ser.
Comment[pt_BR]=Um script automatizado para configurar o Ubuntu como ele deve ser.
Comment[ro]=
Comment[ru]=Автоматизированный скрипт для правильной настройки Ubuntu.
Comment[sk]=
Comment[sl]=
Comment[sv]=
Comment[tr]=
Comment[ug]=
Comment[uk]=Автоматичний сценарій для налаштування Ubuntu як має бути.
Comment[vi]=
Comment[zh_CN]=
Comment[zh_TW]=

GenericName=ubuntu-debullshit
GenericName[ar]=ubuntu-debullshit
GenericName[ast]=ubuntu-debullshit
GenericName[bn]=ubuntu-debullshit
GenericName[ca]=ubuntu-debullshit
GenericName[cs]=ubuntu-debullshit
GenericName[da]=ubuntu-debullshit
GenericName[el]=ubuntu-debullshit
GenericName[es]=ubuntu-debullshit
GenericName[et]=ubuntu-debullshit
GenericName[fa]=ubuntu-debullshit
GenericName[fi]=ubuntu-debullshit
GenericName[fr]=ubuntu-debullshit
GenericName[gl]=ubuntu-debullshit
GenericName[he]=ubuntu-debullshit
GenericName[hr]=ubuntu-debullshit
GenericName[hu]=ubuntu-debullshit
GenericName[it]=ubuntu-debullshit
GenericName[ja]=ubuntu-debullshit
GenericName[ko]=ubuntu-debullshit
GenericName[ku]=ubuntu-debullshit
GenericName[lt]=ubuntu-debullshit
GenericName[nb]=ubuntu-debullshit
GenericName[nl]=ubuntu-debullshit
GenericName[nn]=ubuntu-debullshit
GenericName[no]=ubuntu-debullshit
GenericName[pl]=ubuntu-debullshit
GenericName[pt]=ubuntu-debullshit
GenericName[pt_BR]=ubuntu-debullshit
GenericName[ro]=ubuntu-debullshit
GenericName[ru]=ubuntu-debullshit
GenericName[sk]=ubuntu-debullshit
GenericName[sl]=ubuntu-debullshit
GenericName[sv]=ubuntu-debullshit
GenericName[tr]=ubuntu-debullshit
GenericName[ug]=ubuntu-debullshit
GenericName[uk]=ubuntu-debullshit
GenericName[vi]=ubuntu-debullshit
GenericName[zh_CN]=ubuntu-debullshit
GenericName[zh_TW]=ubuntu-debullshit

Keywords=ubuntu;debullshit;
Keywords[ar]=;
Keywords[ast]=;
Keywords[ca]=;
Keywords[cs]=;
Keywords[da]=;
Keywords[de]=;
Keywords[el]=;
Keywords[es]=;
Keywords[fi]=;
Keywords[fr]=;
Keywords[he]=;
Keywords[hr]=;
Keywords[hu]=;
Keywords[it]=;
Keywords[is]=;
Keywords[ja]=;
Keywords[nb]=;
Keywords[nl]=;
Keywords[pt]=ubuntu;debullshit;
Keywords[pt_BR]=ubuntu;spyware;desbostificacao;desbostificação;desbostificar;debullshit;
Keywords[ru]=;
Keywords[sk]=;
Keywords[sl]=;
Keywords[tr]=;
Keywords[uk]=;
Keywords[vi]=;
Keywords[zh_CN]=;
Keywords[zh_TW]=;

# Exec=pkexec /usr/local/bin/ubuntu-debullshit.sh

Exec=pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY /usr/local/bin/ubuntu-debullshit.sh

Terminal=true
Type=Application
Icon=/usr/share/icons/ubuntu-debullshit.png
Categories=System;


# https://unix.stackexchange.com/questions/203136/how-do-i-run-gui-applications-as-root-by-using-pkexec

